
@{
    ViewBag.Title = "WTS Task - Alex Davies";
    ViewBag.SubTitle = "To show employee shift totals";
    Layout = "~/Views/_Layout.cshtml";
}

@section Scripts {
    <script src="~/Scripts/ViewModels/Employees.js"></script>
}



<div id="employees-info">
    <div id="employee-table">

        <table id="employee-table-data" class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>
                    <button class="btn btn-warning pull-right" data-bind="click: employeeList_Get">Refresh</button>
                </th>
            </tr>

            <!-- ko foreach: employees -->
            <!-- ko if: $data != null && $data != 'loading' -->
            <tr>
                <td data-bind="text: Employee_ID"></td>
                <td data-bind="text: FirstName + ' ' + Surname"></td>
                <td>
                    <!-- ko foreach: MonthTotals -->
                    <div class="month-total alert-success">
                        <span class="date" data-bind="text: MonthName + ' ' + Year"></span>
                        <span>:&nbsp;</span>
                        <span class="hours" data-bind="text: Hours + ' hours'"></span>
                    </div>
                    <!-- /ko -->
                </td>
            </tr>
            <!-- /ko -->
            <!-- ko if: $data == 'loading' -->
            <tr>
                <td><span class="loading animated">&nbsp;</span></td>
                <td><span class="loading animated">&nbsp;</span></td>
                <td><span class="loading animated">&nbsp;</span></td>
            </tr>
            <!-- /ko -->
            <!-- /ko -->
        </table>

    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        // initialise viewmodel with target container element
        new employeeVM(document.querySelector("#employees-info"));
    });
</script>