#employee-table-data {
  width: 100%; }

.month-total {
  font-size: 0.8em;
  display: inline-block;
  padding: 0.25em 0.5em;
  margin-right: 0.5em; }

@keyframes placeHolderShimmer {
  0% {
    background-position: -600px 0; }
  100% {
    background-position: 600px 0; } }

.loading {
  /*background: #f6f7f8;*/
  background: #eeeeee;
  min-height: 1em;
  position: relative;
  border-radius: 3px;
  box-shadow: none;
  border: none; }
  .loading.animated {
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1200px 200px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear; }

span.loading {
  display: block;
  width: 100%; }

