@keyframes placeHolderShimmer {
    0% {
        background-position: -600px 0;
    }

    100% {
        background-position: 600px 0;
    }
}

.loading {
    background: #eeeeee;
    min-height: 1em;
    position: relative;
    border-radius: 3px;
    box-shadow: none;
    border: none;

    &.animated {
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 1200px 200px;
        animation-duration: $loading-animation-duration;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
    }
}

span.loading {
    display: block;
    width: 100%;
}
